:root{

    /* Colors: */
    
        /* Primary */
        --dark-blue-layout: hsl(217, 28%, 15%);
        --background: hsl(218, 28%, 13%);
        --footer:hsl(216, 53%, 9%);
        --second-background:hsl(219, 30%, 18%);
        --background-curvy: #181f2b;
    
        /* Accent */
        --cyan: hsl(176, 68%, 64%);
        --blue: hsl(198, 60%, 50%);
        --red: hsl(0, 100%, 63%);
    
        /* Neutral */
        --white: hsl(0, 0%, 100%);
    
    /* Typography */
    
        --font-size: 14px;
        --font-family-heading: 'Raleway', sans-serif;
        --font-family-body: 'Open Sans', sans-serif;
        
    }
    
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body{
        font-size: 14px;
        background-color: var(--dark-blue-layout);
        color: var(--white);
        font-family: var(--font-family-body);
        display: flex;
        justify-content: center;
    }

    .loader {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 1px solid var(--cyan);
        border-top-color: var(--second-background);
        box-sizing: border-box;
        background: transparent;
        animation: loading 1s linear infinite;
      }
      
      @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        0% {
          transform: rotate(360deg);
        }
      }
    
    main{
        width: 100%;
    }
    
    h1,h2,h3,h4,h5{
        font-family: var(--font-family-heading);
    }
    .navigation{
        padding: 2rem;
    }
    
    .navigation ul{
        display: flex;
        align-items: center;
        gap: 2em;
        font-weight: 400;
        flex-direction: column;
    }
    
    .nav-item{
        display: flex;
        gap: 5rem;
    }
    
    .navigation li:first-child{
        flex: 1
    }
    
    .navigation ul li{
        list-style: none;
    }
    
    .navigation ul li a{
        color: var(--white);
        text-decoration: none;
    }
    
    .navigation ul li a:hover{
        text-decoration:underline;
    }

    .footer-navigation ul li a:hover{
        text-decoration:underline;
    }
    
    .container{
        position: relative;
        padding-top: 19%;
    }
    
    .container .img-curvy{
        width: 100%;
        position: relative;
        top: 5px;
    }
    
    .layout-curvy{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .intro img{
        width: 550px;
    }
    
    .production img{
        width: 550px;
    }
    
    .intro h1{
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    
    .intro .info-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    .intro p{
        width: 90%;
        text-align: center;
    }
    
    button{
        padding: 12px;
        text-align: center;
        width: 200px;
        border-radius: 50px;
        border: none;
        background-image: linear-gradient(90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
        color: var(--white);
        cursor: pointer;
    }
    
    button:hover{
        background-image: none;
        background-color: hsl(176, 68%, 64%);
    }
    
    
    .items{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        padding-top: 9rem;
        background-color: var(--background-curvy);
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        flex-direction: column;
    }
    .row .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .row .item h2{
        width: 100%;
        text-align: center;
    }
    
    .row .item p{
        width: 100%;
        text-align: center;
    }
    
    .production{
        padding-top: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        background-color: var(--background-curvy);
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }
    
    .info-production{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .production h1{
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    
    .production p{
        width: 100%;
        text-align: center;
    }
    
    .production a{
        color: var(--cyan);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        border-bottom: 1px solid var(--cyan);
        padding-bottom: .3rem;
        width: 151px;
    }
    
    .info-production a:hover{
        color: var(--white);
        border-bottom-color: var(--white);
    }
    
    .feedback{
        padding-top: 9rem;
        background-color: var(--background-curvy);
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 25rem;
    }
    
    .bg-box{
        display: flex;
        gap: 6rem;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    
    .box{
        background-color: var(--second-background);
        padding: 20px;
        width: 100%;
        z-index: 1;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    
    }
    
    .quotes{
        position: absolute;
        top: -35px;
        left: 0;
    }
    
    .user{
        display: flex;
        align-items: center;
        gap: .6rem;
    }
    
    .user img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    .info-user{
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    
    .footer{
        background-color: var(--footer);
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .main-footer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .main-footer .logo{
        width: 176px;
    }
    
    .info-footer{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .item-info{
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    
    
    .main-footer .footer-navigation{
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        flex-direction: column;
    }
    
    .main-footer .footer-navigation ul {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: flex-start;
        width: 76px;
    }
    
    .main-footer .footer-navigation ul:last-child{
        align-items: flex-start;
    }
    
    .main-footer .footer-navigation ul li{
        list-style: none;
    }
    
    .main-footer .footer-navigation ul li a{
        color: var(--white);
        text-decoration: none;
    }
    
    .main-footer .footer-navigation ul li a:hover{
        font-weight: bold;
    }
    
    .social-media{
        display: flex;
        gap: 1.2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .social-media span{
        color: var(--white);
        border: 1px solid var(--white);
        border-radius: 50px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-image: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .social-media span:hover{
        color: var(--cyan);
        border-color: var(--cyan);
    }
    
    .location{
        align-items: flex-start;
        width: 100%;
    }
    
    
    .form{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        transform: translateY(-50%);
    }
    
    
    .container-form{
        padding: 3rem;
        background-color: var(--dark-blue-layout);
        border-radius: 5px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        flex-direction: column;
        width: 100%;
    
    }
    
    .container-form h1{
        font-size: 2rem;
        text-align: center;
    }
    
    .container-form p{
        text-align: center;
    }
    .fill{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        flex-direction: column;
        width: 100%;
    }
    
    .fill input{
        background-color: var(--white);
        padding: 12px;
        width: 100%;
        border-radius: 50px;
        border: none;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    
    input::placeholder{
        opacity: 0.3;
    }
    
    
    .fill button{
        width: 100%;
    }
    
    
    .bg-cut{
        height: 7.8rem;
        background-color: var(--background-curvy);
    }
    
    .groupe-input{
        position: relative;
        width: 100%;
    }
    
    .error{
        position: relative;
        bottom: -.4rem;
        padding-left: 30px;
        font-size: .7rem;
        color: var(--red);
        display: flex;
        align-items: center;
        gap: .2rem;
        display: none;
    }
    
    .bg-content{
        background-color: var(--background-curvy);
        height: 700px;
    }
    
    .img-mobile{
        display: none;
    }
    
    
    @media screen and (min-width: 1440px) {
    
        main{
            width: 3000px;
        }
        .navigation{
            padding: 5rem;
            padding-bottom: 2rem;
        }
        .navigation ul{
            gap: 5em;
            flex-direction: row;
        }
    
        .intro h1{
            width: 650px;
        }
    
        .intro p{
            width: 439px;
        }
    
        .items{
            background-color: transparent;
        }
        
        .row{
            gap: 11rem;
            flex-direction: row;
        }
        .row .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    
        .row .item p{
            width: 380px;
        }
    
        .row .item h2{
            width: auto;
            text-align: left;
        }
    
        .production {
            flex-direction: row;
        }
    
        .info-production{
            justify-content: flex-start;
            align-items: flex-start;
        
        }

        .feedback{
            padding-left: 5rem;
            padding-right: 5rem;
        }
    
        .intro img{
            width: 40%;
        }
    
        .production img{
            width: 40%;
        }
        
        .production h1{
            width: 300px;
            text-align: left;
        }
        
        .production p{
            width: 510px;
            text-align: left;
        }
    
        .bg-box{
            flex-direction: row;
            width: auto;
        }
        
        .box{
            width: 400px;
        }
    
        .fill{
            flex-direction: row;
        }
    
        .fill button{
            width: 200px;
        }
    
        .error{
            position: absolute;
            bottom: -1.4rem;
        }
    
        .info-footer{
            flex-direction: row;
        }
    
    
        .main-footer .footer-navigation{
            flex-direction: row;
        }
    
        .main-footer .footer-navigation ul:last-child{
            align-items: flex-start;
        }
    
        .social-media{
            display: flex;
            gap: 1.2rem;
            justify-content: flex-start;
            align-items: flex-start;
            width: auto;
        }
        .container-form{
            width: 715px;
        }
    
        .container-form input{
            width: 400px;
        }
    
        .fill button{
            width: 400px;
        }
    
        .container-form h1{
            text-align: left;
        }
    
        .location{
            width: 400px;
        }

        .footer{
            padding-left: 5rem;
            padding-right: 5rem;
        }
        
    }
    
    @media screen and (max-width: 768px) {
        .intro img{
            width: 80%;
        }
        
        .production img{
            width: 80%;
        }
    }
    
    @media screen and (max-width: 270px) {
        main{
            width: 100vh;
        }
    }